h1{
    
    text-align: center;
}
body{
    background-color: rgb(238, 149, 98);
}

img{
    border-radius: 15px;
}
.contenedor{
    text-align: center;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
